.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
    color: white;
  }
  
  .dashboard-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .dashboard-button {
    background-color: #ff6600; /* Naranja corporativo */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dashboard-button:hover {
    background-color: #cc5200; /* Naranja más oscuro al pasar el cursor */
  }
  